<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swith.calendarmapper">

	<resultMap type="calendarDto" id="calendarMap">
		<result property="calendar_id" column="CALENDAR_ID" />
		<result property="member_id" column="MEMBER_ID" />
		<result property="study_group_id" column="STUDY_GROUP_ID" />
		<result property="title" column="TITLE" />
		<result property="start" column="START_DATE" />
		<result property="end" column="END_DATE" />
		<result property="content" column="CONTENT" />
		<result property="regdate" column="REGDATE" />
	</resultMap>

	<select id="selectList" resultMap="calendarMap">
		SELECT CALENDAR_ID, MEMBER_ID, STUDY_GROUP_ID, TITLE, START_DATE, END_DATE, CONTENT, REGDATE
		FROM CALENDAR
		ORDER BY CALENDAR_ID DESC
	</select>

	<insert id="insert" parameterType="calendarDto">
		INSERT INTO CALENDAR
		VALUES(CALENDARSEQ.NEXTVAL, #{member_id}, #{study_group_id}, #{title}, #{start}, #{end}, #{content}, SYSDATE)
	</insert>
	
	


</mapper>
