<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >



<mapper namespace="swith.paymentmapper">

	<resultMap type="PaymentDto" id="paymentMap">
		<result property="paymentid" column="PAYMENT_ID" />
		<result property="memberid" column="MEMBER_ID" />
		<result property="paymentprice" column="PAYMENT_PRICE" />
		<result property="paymentdate" column="PAYMENT_DATE" />
		<result property="paymentcontent" column="PAYMENT_CONTENT" />
		<result property="paymentkinds" column="PAYMENT_KINDS" />
		<result property="paymentstatus" column="PAYMENT_STATUS" />
	</resultMap>

	<select id="selectList" resultMap="paymentMap" parameterType="int">
		SELECT *
		FROM PAYMENT
		WHERE MEMBER_ID = #{memberid}
	</select>
	
	<select id="selectListPeriod" resultMap="paymentMap" parameterType="PaymentDto">
		<![CDATA[
		SELECT *
		FROM PAYMENT
		WHERE MEMBER_ID = #{memberid}
		<if test="startdate != null and enddate != null">
			AND PAYMENT_DATE >= #{startdate} 
		</if>
		<if test="enddate != null">
			AND PAYMENT_DATE <= #{enddate} 
		</if>
		]]>
	</select>
	
	<select id="selectOne" resultMap="paymentMap" parameterType="String">
		SELECT *
		FROM PAYMENT
		WHERE PAYMENT_ID = #{paymentid}
	</select>
	
	<insert id="insert" parameterType="StudyDto">
		INSERT INTO STUDY_GROUP (
			PAYMENT_ID, 
			MEMBER_ID, 
			PAYMENT_PRICE, 
			PAYMENT_DATE, 
			PAYMENT_CONTENT,
			PAYMENT_KINDS,
			PAYMENT_STATUS
		)
		VALUES (
			#{paymentid},
			#{memberid},
			#{paymentprice},
			#{paymentdate},
			#{paymentcontent},
			#{paymentkinds},
			'paid'
		)
	</insert>
	
	<update id="refund" parameterType="String">
		UPDATE PAYMENT SET PAYMENT_STATUS = 'refund' WHERE PAYMENT_ID = #{paymentid}
	</update>



</mapper>

