<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="swith.paymentmapper">

	<!-- 리턴할 때 db의 데이터들을 어떤 dto의 어떤 변수에 넣어줄지 정해줌 -->
	<resultMap type="PaymentDto" id="paymentMap">
		<result property="paymentid" column="PAYMENT_ID" />
		<result property="memberid" column="MEMBER_ID" />
		<result property="paymentprice" column="PAYMENT_PRICE" />
		<result property="paymentdate" column="PAYMENT_DATE" />
		<result property="paymentcontent" column="PAYMENT_CONTENT" />
		<result property="paymentkinds" column="PAYMENT_KINDS" />
	</resultMap>

  	<!-- 특정 유저의 전체 결제 목록 날짜순으로 리턴 -->
  	<select id="selectList" resultMap="paymentMap" parameterType="PaymentDto">
    	SELECT * FROM PAYMENT WHERE MEMBER_ID = #{memberid} ORDER BY PAYMENT_DATE DESC 
  	</select>
	  
	<!-- 특정 유저의 결제 내역 1개만 리턴 -->
	<select id="selectOne" resultMap="paymentMap" parameterType="PaymentDto">
	 	SELECT * FROM PAYMENT WHERE PAYMENT_ID = #{paymentid}
	</select>
	
	<!-- 날짜 제한 검색 기능 -->
	<select id="selectDate" resultMap="paymentMap" parameterType="PaymentDto">
	
	</select>
	  
	<!-- 결제 기록 DB에 저장 -->
	<insert id="insert" parameterType="PaymentDto">
	 	INSERT INTO PAYMENT VALUES (
	 		PAYMENT_SEQ,
	 		#{memberid},
	 		#{paymentprice},
	 		#{paymentdate},
	 		#{paymentcontent},
	 		#{paymentkinds}
	 	)
	</insert>
	
	<!-- 결제 기록 수정(환불 등) -->
	<update id="update" parameterType="PaymentDto">
	
	</update>
</mapper>