<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >



<mapper namespace="swith.studyintroducemapper">

	<resultMap type="StudyDto" id="studyMap">
		<result property="studygroupid" column="STUDY_GROUP_ID" />
		<result property="studygroupname" column="STUDY_GROUP_NAME" />
		<result property="studygroupdesc" column="STUDY_GROUP_DESC" />
		<result property="studygroupoffline" column="STUDY_GROUP_OFFLINE" />
		<result property="studygrouparea" column="STUDY_GROUP_AREA" />
		<result property="studygroupadmin" column="STUDY_GROUP_ADMIN" />
		<result property="studygrouplng" column="STUDY_GROUP_LNG" />
		<result property="studygrouplat" column="STUDY_GROUP_LAT" />
		<result property="studygroupaddr" column="STUDY_GROUP_ADDR" />
		<result property="studygrouppw" column="STUDY_GROUP_PW" />
		<result property="studyusercnt" column="STUDY_USERCNT" />
	</resultMap>

	
	<select id="studyIntroduceSelectOne" parameterType="int" resultMap="studyMap">
		SELECT 
			STUDY_GROUP_ID, 
			STUDY_GROUP_NAME, 
			STUDY_GROUP_DESC, 
			STUDY_GROUP_OFFLINE, 
			STUDY_GROUP_LNG, 
			STUDY_GROUP_LAT,
			STUDY_GROUP_ADDR,
			STUDY_GROUP_ADMIN
		FROM STUDY_GROUP
		WHERE STUDY_GROUP_ID = #{study_group_id}
	</select>
</mapper>

