<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.kh.swith.test.dto.TestDto" alias="testDto" />
		<typeAlias type="com.kh.swith.dto.StudyDto" alias="StudyDto" />
		<typeAlias type="com.kh.swith.dto.MemberDto" alias="MemberDto" />
	</typeAliases>

	<mappers>
		<mapper resource="/mybatis/test-mapper.xml" />
		<mapper resource="/mybatis/study-mapper.xml" />
		<mapper resource="/mybatis/member-mapper.xml" />
	</mappers>

</configuration>
